<!-- <section class="h-fit w-1/2  p-16 m-0 mt-20 items-center">
    <div class=" flex justify-between w-1/2 mx-auto">
            <div *ngFor="let item of steps;  let i=index; first as First">
                <div class="step-item"
                    [ngClass]="{'active1': currentState==i,'step-item':!First ,'complete':currentState >i}">
                    <div class="step">{{i+1}}</div>
                    <p class=" text-gray-500"> {{item}}</p>
                </div>
                <div class="w-1/3 border h-36 ">
                </div>
            </div>
        </div>
</section> -->
<!-- <section class="h-fit w-full  p-16 m-0 mt-20 items-center"> -->
<!-- <mat-stepper class="example-stepper" [orientation]="'vertical'" linear [disableRipple]=true>
    <mat-step label="Confirm The Provider" [completed]="step1Complete">
      <div>
        <div *ngIf="!step1Complete">
          <h3>Accept the provider to do the work</h3>
          <div>
            <h4>Provider Details</h4>
          </div>
          <div>
            <button mat-button (click)="confirmProvider()" style="background-color: rgb(139, 223, 139);"
              class="bg-green-400">Accept</button>
          </div>
        </div>
        <div *ngIf="step1Complete">
          <h4>You're Accepted the provider to do your work</h4>
        </div>
      </div>
    </mat-step>
    <mat-step label="Provider ready to do your Work" [completed]="step2Complete">
      fdsafjlasjlkjl
    </mat-step>
    <mat-step label="Fill out your phone number" [completed]="step3Complete">
      <div>ksjdflsl</div>
    </mat-step>
    <mat-step label="Fill out your phone number" [completed]="step4Complete">
      <div>ksjdflsl</div>
    </mat-step>
    <mat-step label="Work Finished" [completed]="step5Complete">
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper> -->
<section class="flex w-full mr-40  h-full">
  <ul class="block  mx-auto">
    <li class="step-wizard-item " [ngClass]="{'current-item':step==1}">
      <span class="progress-count">1</span>
      <span *ngIf="!step1Complete;else elseBlock" class="progress-label">Accept Provider</span>
      <ng-template #elseBlock>
        <span class="progress-label">Accepted </span>
      </ng-template>

      <div class="mt-16">
        <div *ngIf="!step1Complete">
          <h3>Accept the provider to do the work</h3>
          <div>
            <h4>Provider Details</h4>
          </div>
          <div>
            <button mat-button (click)="confirmProvider()" style="background-color: rgb(139, 223, 139);"
              class="bg-green-400">Accept</button>
          </div>
        </div>
        <div *ngIf="step1Complete">
          <h4>You're Accepted the provider to do your work</h4>
        </div>
      </div>
    </li>
    <li class="step-wizard-item " [ngClass]="{'current-item':step==2}">
      <span class="progress-count">2</span>
      <span class="progress-label">Provider on the way</span>
    </li>
    <li class="step-wizard-item " [ngClass]="{'current-item':step==3}">
      <span class="progress-count">3</span>
      <span class="progress-label">Work Started</span>
    </li>
    <li class="step-wizard-item " [ngClass]="{'current-item':step==4}">
      <span class="progress-count">4</span>
      <span class="progress-label">Work Completed</span>
    </li>
    <li class="step-wizard-item "[ngClass]="{'current-item':step==5}">
      <span class="progress-count">5</span>
      <span class="progress-label">Payment</span>
    </li>
    <li class="step-wizard-item " [ngClass]="{'current-item':step==6}">
      <span class="progress-count">6</span>
      <span class="progress-label">Request Completed</span>
    </li>
  </ul>
</section>
<!-- </section> -->