<div>
  <section class="text-gray-700 body-font overflow-hidden bg-white ">
    <div class="container px-5 py-24 mx-auto mt-36">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="border w-72 h-auto">
          <div *ngFor="let item of images" class="">
            <img alt="ecommerce" class=" w-56 object-contain m-5 mx-auto " img [src]="item.url">
          </div>
        </div>
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">{{requestData.category}}</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{requestData.requestTitle}}</h1>
          <p class="leading-relaxed">{{requestData.requestDiscription}}</p>
          <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
            <div class="flex ml-6 items-center">
              <div class="relative">
              </div>
            </div>
          </div>
          <div class="flex">
            <span *ngIf="requestData.fixedAmount!=null" class="title-font font-medium text-2xl text-gray-900"
              style="cursor: auto;">Fixed Amount :
              {{requestData.fixedAmount|currency:'INR'}}</span>
            <span *ngIf="requestData.minAmount!=null" style="cursor: auto;">Range & Negotiable :
              {{requestData.minAmount|currency:'INR'}} - {{requestData.minAmount|currency:'INR'}}</span>
            <button (click)="accept()"
              class="flex ml-auto text-black  btn1">Accept</button>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
