<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Vip-SP</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="/login"
            >Sign in</a
          >
        </li>
        
      </ul>
    </div>
  </div>
</nav> -->

<div

  >
  <header>
     <nav
        class="
          flex flex-wrap
          items-center
          justify-between
          w-full
          py-3
          md:py-0
          px-4
          text-7xl text-gray-700
          bg-white
         
        "
      >
       <div>
          <a routerLink="/" class="text-black">
              Vip Request
          </a>
        </div>
       
         <svg
            xmlns="http://www.w3.org/2000/svg"
            id="menu-button"
            #menu_button
            class="h-6 w-6 cursor-pointer md:hidden block"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
       
       <div class="hidden w-full md:flex md:items-center md:w-auto" id="menu" #menu>
          <ul
            class="
              pt-4
              text-base text-white
              md:flex
              md:justify-between 
              md:pt-0
              "
          >
            <!-- <li>
              <a             #menu_button
              routerLink="addrequest" class="md:p-4 py-2 block" 
                >Post Request</a
              >
            
            </li> -->
            <li>
              <a #menu_button routerLink="/register" class="md:p-4 py-2 block" 
                >Register</a
              >
            </li>
            
            <li>
              <a  routerLink="/login" #menu_button class="md:p-4 py-2 block" 
                >Login</a
              >
            </li>
            
          </ul>
        </div>
    </nav>
  </header>
  
  
 
  </div>
