<!-- <div class="row w-100">
  <div class="col-lg-4 "></div>
  <div class="col col-lg-8 col-md-8 col-xl-8 col-sm-8">
  <div class="card " *ngFor="let item of allRequest">
    <div class="row g-0">
      <div class="col-md-4 img ">
        <img [src]="item.images[0].url" class="img-fluid  rounded-start" alt="...">
      </div>
      <div class="col-md-8 ">
        <div class="card-body">
          <h3 class="card-title">{{item.requestTitle}}</h3>
          <h6 class="card-subtitle">{{item.category}}</h6>

          <p class="card-text">{{item.requestDiscription}}</p>
          <p class="card-text"><small class="text-muted">Active</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->

  <div class="container mx-auto px-20   space-y-10" >
    <div  *ngFor="let item of allRequest" class="shadow-xl">
      <div class="space-y-4  lg:grid lg:grid-cols-3 lg:items-start lg:gap-6 lg:space-y-0 relative" style="cursor: auto;">
        <a class="group">
          <div class="aspect-w-3 aspect-h-2">
            <img class="object-cover shadow-lg rounded-lg group-hover:opacity-75" [src]="item.images[0].url"
              alt="Featured Photo" style="cursor: auto;">
          </div>
        </a>
        <div class="sm:col-span-2" style="cursor: auto;">
          <div class="flex items-center space-x-3" style="cursor: auto;">
            <!-- <div class="flex items-center space-x-2" style="cursor: auto;">

              <span
                class="inline-flex items-center leading-none px-2.5 py-1.5 text-sm font-medium text-skin-inverted rounded-full border border-skin-input"
                style="cursor: auto;">

                <svg class="mr-1.5 h-2 w-2 brand-react" fill="currentColor" viewBox="0 0 8 8">

                  <circle cx="4" cy="4" r="3"></circle>

                </svg>
                Tag #1
              </span>

              <span
                class="inline-flex items-center leading-none px-2.5 py-1.5 text-sm font-medium text-skin-inverted rounded-full border border-skin-input"
                style="cursor: auto;">

                <svg class="mr-1.5 h-2 w-2 brand-packages" fill="currentColor" viewBox="0 0 8 8">

                  <circle cx="4" cy="4" r="3"></circle>

                </svg>
                Tag #2
              </span>

              <span
                class="inline-flex items-center leading-none px-2.5 py-1.5 text-sm font-medium text-skin-inverted rounded-full border border-skin-input"
                style="cursor: auto;">

                <svg class="mr-1.5 h-2 w-2 brand-tutoriel" fill="currentColor" viewBox="0 0 8 8">

                  <circle cx="4" cy="4" r="3"></circle>

                </svg>
                Tag #3

              </span>

            </div> -->
          </div>
          <div class="mt-2" style="cursor: auto;">
            <a class="group">
              <h4 class="text-lg leading-6 font-semibold font-sans text-skin-inverted group-hover:text-skin-primary"
                style="cursor: auto;">{{item.requestTitle}}</h4>
            </a>
            <p class="mt-1 text-sm font-normal text-skin-base leading-5" style="cursor: auto;">
              {{item.requestDiscription}}
            </p>

            <div class="mt-3 flex items-center font-sans" style="cursor: auto;">

              <div class="shrink-0">
                <a>
                  <span class="sr-only">John Doe</span>
                </a>
              </div>
              <div class="ml-3 flex flex-col">    
                <p class="text-sm font-medium text-skin-inverted">
                  <a  class="hover:underline" style="cursor: auto;">
                    {{item}}
                  </a>
                </p>
                <div class="flex space-x-1 text-sm text-skin-muted lg:absolute bottom-2 right-1/3" style="cursor: auto; ">
                  <span *ngIf="item.fixedAmount!=null" style="cursor: auto;">Fixed Amount : {{item.fixedAmount|currency:'INR'}}</span>
                  <span *ngIf="item.minAmount!=null" style="cursor: auto;">Range & Negotiable : {{item.minAmount|currency:'INR'}} - {{item.minAmount|currency:'INR'}}</span>


                </div>

                <div class="flex space-x-1 text-sm text-skin-muted lg:absolute bottom-2 right-0" style="cursor: auto; ">
                  <span style="cursor: auto;">{{item.startDate}} - {{item.endDate}}</span>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>