<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" routerLink="userhome">Vip-SP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ">
        <li class="nav-item"> <button mat-button routerLink="addrequest" style="color: white;"> Post Request</button></li>

        <li class="nav-item">
          <button style="color: white;" mat-button [matMenuTriggerFor]="menu">{{userName}}</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item routerLink="myrequest">My Request</button>

            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<div

  >
  <header>
     <nav
        class="
          flex flex-wrap
          items-center
          justify-between
          w-full
          py-3
          md:py-0
          px-4
          text-lg text-gray-700
          bg-white
         
        "
      >
       <div>
          <a routerLink="userhome" class="text-black">
            <img src="../../../../../assets/images/your-request-high-resolution-logo-black-on-white-background.jpeg" class="w-24" alt="">
          </a>
        </div>
       
         <svg
            xmlns="http://www.w3.org/2000/svg"
            id="menu-button"
            #menu_button
            class="h-6 w-6 cursor-pointer md:hidden block"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
       
       <div class="hidden w-full md:flex md:items-center md:w-auto" id="menu" #menu>
          <ul
            class="
              pt-4
              text-base text-white
              md:flex
              md:justify-between 
              md:pt-0
              "
          >
            <li>
              <a             #menu_button
              routerLink="addrequest" class="md:p-4 py-2 block" 
                >Post Request</a
              >
            
            </li>
            <li>
              <a #menu_button routerLink="myrequest" class="md:p-4 py-2 block" 
                >My Request</a
              >
            </li>
            <li>
              <a #menu_button routerLink="profile" class="md:p-4 py-2 block" 
                >Profile</a
              >
            </li>
            
          
            <li>
              <a  (click)="logout()"
                class="md:p-4 py-2 block "
                
                >LogOut</a
              >
            </li>
          </ul>
        </div>
    </nav>
  </header>
  
  
  <!-- <div class="px-4">
      <div
        class="
          flex
          justify-center
          items-center
          bg-white
          mx-auto
          max-w-2xl
          rounded-lg
          my-16
          p-16
        "
      >
        <h1 class="text-2xl font-medium">Responsive Navbar with TailwindCSS</h1>
      </div>
    </div> -->
  </div>
