
    <div class="h-screen ">


        <div >
            <button (click)="updateUserDetails()" class="btnStyle">update details</button>
        </div>
        
    </div>

<!-- <div class="w-96 bg-red-300 h-96"></div>
<div class="w-96 bg-red-300 h-96"></div>
<div class="w-96 bg-red-300 h-96"></div>
<div class="w-96 bg-red-300 h-96"></div>
<div class="w-96 bg-red-300 h-96"></div>
<div class="w-96 bg-red-300 h-96"></div>
<div class="w-96 bg-red-300 h-96"></div>
<div class="w-96 bg-red-300 h-96"></div>
<div class="w-96 bg-red-300 h-96"></div>
<div class="w-96 bg-red-300 h-96"></div> -->


